<% provide(:title, 'Create Task') %>
<h1>My List</h1>
<!-- Trigger the modal with a button -->
<a href="/list/new">
    <button type="button" class="btn btn-info btn-lg" >Add List</button>
</a>
<% if @user_lists.any? %>
  <table class="table">
    <thead>
      <tr> 
        <th>Name</th>
        <th>Content</th>
        <th>Share List</th>
        <th>Shared User</th>
      </tr>
    </thead>
    <tbody>
      <% @user_lists.each do |list| %><tr>
          <td> <%= link_to list.name, list  %></td>
          <td><%= list.content  %></td>
          <td>
            <button type="button" class="btn btn-info btn-lg share" data-id = "<%= list.id %>" data-toggle="modal" data-target="#myModal">Share</button>
          </td>
          <td>
            <% if list.users.any? %>
              <% list.users.each do |user| %>
                <%= user.email %>
                <% list.listusers.each do |list_user| %>
                  <% if user.id == list_user.user_id %>
                    <%=  link_to "Delete user", listuser_path( list_user.id ), remote: true, method: :delete %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<h1>Assigned List</h1>
<% if @collaborated_lists.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
    <% @collaborated_lists.each do |list| %><tr>
        <td> <%= list.name  %></td>
        <td><%= list.content  %></td>
      </tr>
    <% end %> 
    </tbody>
  </table>
<% end %>
<h1>Assigned Task</h1>
<% if @assigned_tasks.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <% @assigned_tasks.each do |task| %>
        <tr>
          <td> <%= task.name  %></td>
          <td><%= task.content  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Share List</h4>
      </div>
      <div class="modal-body">
        <%= form_for :listuser, :url => {:controller => 'listusers', :action => "create" } do |f| %>
          <%= f.hidden_field :list_id %>
          <%= f.label :select %>
          <%= f.select :user_id, @collaborators, { include_blank: 'Select User' } %>      
          <%= f.submit "Share User", class: "btn btn-primary" %>
        <% end %>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>