<% provide(:title, 'Create Task') %>
<h1>Create List</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :list, :url => {:controller => 'lists', :action => "create" } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.text_area :content, placeholder: "content..." %>
      <%= f.submit "Create new list", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>