
<% provide(:title, 'Task List') %>
<h1>Task List</h1>
<a href="/task/<%= params[:id] %>">
  <button type="button" class="btn btn-info btn-lg" >Add Task</button>
</a>
<% if @tasks.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Content</th>
        <th>Assign Task</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %><tr>
          <td> <%=  task.name  %></td>
          <td><%= task.content  %></td>
          <td>
            <button type="button" class="btn btn-info btn-lg assign" data-id = "<%= task.id %>" data-toggle="modal" data-target="#myModal">Assign</button>
          </td>
        </tr>
      <% end %>      
    </tbody>
  </table>
<% end %>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Assign Task</h4>
      </div>
      <div class="modal-body">
        <%= form_for :taskusers, :url => {:controller => 'taskusers', :action => "create" } do |f| %>
          <%= f.hidden_field :task_id %>          
          <%= f.hidden_field :list_id, value: @list.id %> 
          <%= f.label :select %>
          <%= f.select :user_id, @collaborated_users, { include_blank: 'Select User' } %>      
          <%= f.submit "Assign Task", class: "btn btn-primary" %>
        <% end %>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>