<% if logged_in? %>
<!-- Trigger the modal with a button -->
<a href="createList"><button type="button" class="btn btn-info btn-lg" >Add List</button></a>

<% end %>
<% if @lists.any? %>
<table class="table">
<thead>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Share List</th>
  </tr>
</thead>
<tbody>
<% @lists.each do |list| %><tr>
    <td> <%= link_to list.name, list  %></td>
    <td><%= list.content  %></td>
    <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Share</button></td>
  </tr>
<% end %>
  
</tbody>
</table>
<% end %>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
        <%= form_for(@share) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        
            <%= f.text_area :content, placeholder: "content..." %>
        
        
            <%= f.submit "Create new list", class: "btn btn-primary" %>
          <% end %>
        <% @users.each do |user| %>
            <%= user.email %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>