<% provide(:title, 'Create Task') %>
<h1>Create Task</h1>

<div class="row"> 
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :task, :url => {:controller => 'tasks', :action => "create" } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Task Name" %>
      <%= f.text_area :content, placeholder: "content..." %>
      <%= f.hidden_field :list_id, value: @list.id %>
      <%= f.submit "Create new list", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>